{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1 class="title">Reset Your Password</h1>
    <div class="container">
        <div class="section">
            <form method="POST" action="{{ url_for('reset_token', token=token) }}">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label class="label">{{ form.password.label }}</label>
                    <div class="control">
                        {{ form.password(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.confirm_password.label }}</label>
                    <div class="control">
                        {{ form.confirm_password(class="input") }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.submit(class="button is-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
